@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* BANNER  */

  h1 {
    display: inline-block;
  }

  .banner {
    margin: 0 auto;
    width: 1170px;
  }
  header {
    height: 70vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/banner.jpg");
    background-size: cover;
  }
  .header-banner {
    width: 1170px;
    right: 50%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-52%, 85%);
    text-align: center;
  }
  /* THONG TIN  */
  .navbar-nav1 {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  .topnav {
    height: 100%;
  }
  .navbar-nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    list-style: none;
    justify-content: space-around;
    max-width: 540px;
  }
  .topnav a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    align-items: center;
  }
  .topnav li {
    border-left: 1px solid rgb(233, 233, 233);
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    padding: 14px 16px;
  }
  .img-item {
    display: none;
  }
  .avatar {
    display: none;
  }
  .nav-item1 {
    width: 25%;
  }
  .topnav a:hover {
    cursor: pointer;
  }

  /* INFO  */
  #myDIV {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
  }
  #myDIV div {
    font-size: 15px;
  }
  #myDIV h1 {
    font-size: 30px;
  }
  #myDIV .item1 {
    padding-left: 10%;
    padding-right: 5%;
    background-color: #f1f3f5;
    /* width: 100%; */
    /* grid-column: 1/3; */
    font-size: 13px;
  }
  #myDIV .item2 {
    background-color: #e9ecef;
    /* grid-column: 1/3; */
    padding-left: 10%;
    padding-right: 5%;
    font-size: 13px;
  }
  .item2 ul {
    padding: 0;
  }
  .item2 ul li {
    list-style: none;
  }
  .section-title {
    margin-top: 64px;
    margin-bottom: 32px;
  }
  .iconinfo {
    margin-top: 20px;
    text-decoration: none;
  }

  /* LY LICH  */
  #job-info {
    margin-top: 20px;
    display: grid;
    height: auto;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: auto auto auto; */
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
  }
  #job-info h1 {
    font-size: 30px;
  }
  .item {
    border: 1px solid rgb(233, 233, 233);
    padding: 50px;
    font-size: 13px;
    height: auto;
  }
  .item ul {
    list-style: none;
  }
  .item ul li::before {
    content: "\2022";
    color: #199cdb;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 15px;
  }
  .i75-25 {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    width: 100%;
    font-size: 20px;
  }

  .icon {
    display: inline-block;
    margin: 0px;
    /* padding-left: 50px; */
    color: rgba(203, 213, 224, 0.979);
  }
  .ICON {
    display: inline-block;
    padding: 5px;
  }
  .border-ICON {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid rgb(13, 153, 247);
    font-size: 16px;
    align-items: center;
    text-align: center;
    top: 20%;
    transform: translate(-0.5%, 10%);
  }

  .text-hidden-box {
    display: inline-block;
    margin-bottom: 5px;
  }
  .box-job-info {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    align-content: center;
    border-radius: 50px;
    width: 50px;
    /* height: 13px; */
    font-weight: 600;
    font-size: 8px;
    /* text-decoration: none; */
    color: white;
    background-color: #199cdb;
  }
  .hidden-box {
    grid-column: 1;
    font-size: 13px;
  }

  .hidden-box ul {
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .hidden-box li {
    font-size: 13px;
  }
  .border1 {
    display: inline-block;
    width: 50px;
  }
  .border2 {
    display: inline-block;
  }
  span {
    background: #199cdb;
    display: inline-block;
    height: 2px;
    width: 45px;
    margin-right: 10px;
  }
  .span-xam {
    background: #dee2e6;
    display: inline-block;
    height: 2px;
    width: 45px;
    margin-right: 10px;
  }

  /* CHUNG CHI - GIAI THUONG  */
  #certificate h1 {
    padding: 50px;
  }
  .certificate_cc {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 240px 240px;
    row-gap: 40px;
    border-bottom: 1px solid orange;
    padding-bottom: 30px;
  }
  .container_cc {
    display: block;
    padding-bottom: 80px;
    /* justify-self: center; */
    border-bottom: 1px solid orange;
  }
  .container_cc1 {
    border-right: 1px solid orange;
    padding-right: 35px;
    padding-left: 20px;
  }
  .container_cc2 {
    padding-left: 20px;
  }
  .containercc3 {
    display: block;
    padding-bottom: 60px;
    padding-left: 20px;
  }

  .itemcc1 {
    height: 100%;
    padding-right: 12px;
  }
  .itemcc1 img {
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  .itemcc2 {
    font-size: 13px;
    margin-bottom: 30px;
  }

  /* DU AN  */
  #project {
    padding: 40px 0;
  }
  #Dựán {
    margin-left: 50px;
  }
  .flex-container {
    display: flex;
    left: 0;
    /* margin: 0 20%; */
  }
  .flex-container > div {
    margin: 10px;
    border: 1px solid rgba(203, 213, 224, 0.979);
  }
  .text-project {
    margin-left: 20px;
    padding: 10px 0;
  }
  .box-project {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    border-radius: 100px;
    width: 45px;
    height: 25px;
    font-weight: 800;
    font-size: 10px;
    color: white;
    background-color: #199cdb;
  }
  .project-text-1 {
    display: inline-block;
    margin-left: 15px;
    padding: 10px 0;
  }
  .project-text-2 {
    display: inline-block;
    margin-left: 15px;
  }
  .project-text-3 {
    display: inline-block;
    margin-left: 15px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    border: 1px solid rgba(203, 213, 224, 0.979);
    text-align: left;
  }
  .main {
    display: flex;
    justify-content: left;
    padding: 10px 0;
    line-height: 1.5;
    margin-left: 10px;
    font-size: 15px;
  }
  #footer {
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 90px;
    position: relative;
  }
  #footer ul,
  #footer li {
    display: inline-flex;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    margin: 0;
  }
  .bg-grey a {
    text-decoration: none;
  }

  .bg-grey {
    background: #f7f7f7;
  }
  .icon-link {
    color: #199cdb;
    font-size: 40px;
  }

  section > .container {
    width: 1170px;
    margin: 0 auto;
    display: inline-block;
    padding: 30px 80px;
  }

  #nav-bar {
    text-align: center;
  }

  /*Css Digital-cv*/
  .digital-cv {
    width: 90%;
    margin: 0 auto;
    display: block;
    background-color: #e7f5ff;
    font-size: 11px;
    border: 20px solid #0b29ea;
    border-collapse: collapse;
  }
  .content-goals {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1px solid rgb(228, 224, 224);
  }
  .content-goals svg {
    align-items: center;
    margin-left: 45%;
  }
  .content-team {
    display: flex;
    /* gap: 5px; */
    /* margin-left: 45%; */
    flex-direction: column;
  }
  .content-team svg {
    align-items: center;
    margin-left: 45%;
  }
  .content-scopes {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  h6 {
    font-size: 13px;
  }
  .content-primary {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .content-primary svg {
    align-items: center;
    height: 24px;
    width: 24px;
    margin-left: 45%;
  }
  .time-line {
    grid-column: 3/4;
    grid-row: -3/-1;
  }
  .content-timeline {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .content-timeline-img {
    background-color: #b197fc;
    border-radius: 50px;
  }
  .cv-digi {
    border: 0px;
    padding: 0 40px;
    background-color: #d0ebff;
  }

  .text {
    padding-bottom: 10px;
    border-bottom: 1px dashed #199cdb;
  }
  .cv-digi h3 {
    color: #127bdd;
    padding: 15px;
    border-bottom: 1px solid rgb(155, 140, 140);
  }
  .bi-flag {
    margin-top: 10px;
    margin-left: 10px;
  }
  .all-team {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    /* grid-template-rows: 25% 25%; */
  }
}
